.two,.three{
    display: none;
}

.but{
    display:flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    position: -webkit-sticky;
    background-color: white;

}
button{
    width:70px;
    height:70px;
   margin:30px;
   background-color: rgb(136, 158, 163);
   border-radius: 15px;
   color: transparent;
   border: 10px solid rgb(127, 135, 137);
}

button:hover{
    cursor: pointer;
}

.divs{
    font-size: large;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}